# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE files
*.iml
.idea/
.vscode/
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Logs
*.log